<%- include("partials/header"); -%>
<h1>Home</h1>
<p><%=homeContent%></p>
<ul>
    <% Array.from(posts).forEach((post)=>{%>
    <li><%=post.title%> - <%=post.description%></li>
    <% }); %>
</ul>
<%- include("partials/footer"); -%>